@font-face {
	font-family: Lexend;
	src: url(/src/fonts/Lexend-VariableFont_wght.ttf);
}

body,
* {
	font-family: Lexend;
}

body {
	height: 100vh;
}

.disablePointerEvents {
	pointer-events: none !important;
}

.blinking {
	animation: blinking 1s infinite;
}

@keyframes blinking {
	from {
		transform: scale(0.75);
	}
	to {
		transform: scale(1.1);
	}
}
